/* .jumbotron {
    background: aqua;
} */

body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: monospace;
      
}
h4 {
    font-family: 'Courier New', Courier, monospace;
}

Footer {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}